* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.menu-bar {
  background: linear-gradient(to bottom, #493349 0%, #4d2d42 100%);
  text-align: center;
}
.menu-bar ul {
  display: inline-flex;
  list-style: none;
  color: #fff;
}
.menu-bar ul li {
  width: 280px;
  margin: 15px;
  padding: 15px;
}
.menu-bar ul li a {
  text-decoration: none;
  color: #fff;
}
.active,
.menu-bar ul li:hover {
  background: #292728;
  border-radius: 15px;
  size: 50px;
}
.sub-menu-1 {
  display: none;
}

.menu-bar ul li:hover .sub-menu-1 {
  display: block;
  position: absolute;
  background: #5e5c5d;
  margin-top: 10px;
  margin-left: -10px;
}
.menu-bar ul li:hover .sub-menu-1 ul {
  display: block;
  margin: 10px;
}
.menu-bar ul li:hover .sub-menu-1 ul li {
  width: 230px;
  height: 45px;
  padding: 10px;
  border-bottom: 1px dotted #fff;
  background: transparent;
  border-radius: 0;
  text-align: left;
}

.menu-bar ul li:hover .sub-menu-1 ul li a:hover {
  color: #8b7084;
}

body {
  background-size: cover;
  background-position: center;
  font-size: 25px;
  padding: 20px;
  font-family: sans-serif;
}
